kind: Service
apiVersion: v1
metadata:
  name: prometheus
  namespace: my-namespace
spec:
  type: LoadBalancer        # or NodePort
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090

